.grid.gallery
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color1.jpg 1920w" data-src="images/color1.jpg" src="images/placeholder.jpg" alt="color1" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color2.jpg 1920w" data-src="images/color2.jpg" src="images/placeholder.jpg" alt="color2" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color3.jpg 1920w" data-src="images/color3.jpg" src="images/placeholder.jpg" alt="color3" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color4.jpg 1920w" data-src="images/color4.jpg" src="images/placeholder.jpg" alt="color4" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color5.jpg 1920w" data-src="images/color5.jpg" src="images/placeholder.jpg" alt="color5" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color6.jpg 1920w" data-src="images/color6.jpg" src="images/placeholder.jpg" alt="color6" data-lightbox-image)
    a.grid__item(href="" data-lightbox-thumbnail)
        img.grid__image.lazy(data-srcset="images/color7.jpg 1920w" data-src="images/color7.jpg" src="images/placeholder.jpg" alt="color7" data-lightbox-image)